{% extends "bg-center-container.html" %}

{% block title %}{{ i18n.login.heading }}{% endblock %}

{% block content %}
<style>{% include "form-styles.css" %}</style>
<form method="post" action="/login" class="pane">
    <h1 class="heading black">{{ i18n.login.heading }}</h1>
    <label for="email-field" class="sr-only">{{ i18n.email }}</label>
    <input type="email" name="email" placeholder="{{ i18n.email }}" id="email-field" class="field" required>
    <label for="password-field" class="sr-only">{{ i18n.password }}</label>
    <div class="link-field-container">
        <input type="password" name="password" placeholder="{{ i18n.password }}" id="password-field" class="field" required>
        <a href="/reset-password" class="light">{{ i18n.login.forgot_password_question }}</a>
    </div>
    <div class="link-field-container">
        <input type="submit" value="{{ i18n.login.button }}" class="bold">
        <p class="light">{{ i18n.login.registered_question }} <a href="/register" class="bold">{{ i18n.login.register_link }}</a></p>
    </div>
</form>
{% endblock %}
