{% extends "bg-center-container.html" %}

{% block title %}{{ i18n.register.heading }}{% endblock %}

{% block content %}
<style>{% include "form-styles.css" %}</style>
<form method="post" action="/register" class="pane">
    <h1 class="heading black">{{ i18n.register.heading }}</h1>
    {% for flash in flashes %}
        <div class="flash {% match flash.0 %}{% when Error %}error{% when Success %}success{% endmatch %}">{{ flash.1 }}</div>
    {% endfor %}
    <label for="email-field" class="sr-only">{{ i18n.email }}</label>
    <input type="email" name="email" placeholder="{{ i18n.email }}" id="email-field" class="field" required>
    <label for="password-field" class="sr-only">{{ i18n.password }}</label>
    <input type="password" name="password" placeholder="{{ i18n.password }}" id="password-field" class="field" required>
    <label for="repeat-password-field" class="sr-only">{{ i18n.register.repeat_password }}</label>
    <input type="password" name="repeat_password" placeholder="{{ i18n.register.repeat_password }}" id="repeat-password-field" class="field" required>
    <div class="link-field-container">
        <input type="submit" value="{{ i18n.register.button }}" class="bold">
        <p class="light">{{ i18n.register.login_question }} <a href="/login" class="bold">{{ i18n.register.login_link }}</a></p>
    </div>
</form>
{% endblock %}
