{% extends "bg-center-container.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<style>{% include "form-styles.css" %}</style>
<form method="post" action="/register" class="pane">
    <h1 class="heading black">Register</h1>
    <label for="email-field" class="sr-only">Email</label>
    <input type="email" placeholder="Email" id="email-field" class="field" required>
    <label for="password-field" class="sr-only">Password</label>
    <input type="password" placeholder="Password" id="password-field" class="field" required>
    <label for="repeat-password-field" class="sr-only">Password</label>
    <input type="password" placeholder="Repeat Password" id="repeat-password-field" class="field" required>
    <div class="link-field-container">
        <input type="submit" value="Register" class="bold">
        <p class="light">Already registered? <a href="/login" class="bold">Login</a></p>
    </div>
</form>
{% endblock %}
