{% extends "bg-center-container.html" %}

{% block title %}{{ i18n.reset_heading() }}{% endblock %}

{% block content %}
<style>{% include "form-styles.css" %}</style>
<form method="post" action="/reset-password" class="pane">
    <h1 class="heading black">{{ i18n.reset_heading() }}</h1>
    <label for="email-field" class="sr-only">{{ i18n.email() }}</label>
    <input type="email" placeholder="{{ i18n.email() }}" id="email-field" class="field" required>
    <div class="link-field-container">
        <input type="submit" value="{{ i18n.reset_button() }}" class="bold">
        <a href="/login" class="light">{{ i18n.reset_login_link() }}</a>
    </div>
</form>
{% endblock %}
