{% extends "bg-center-container.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<style>{% include "form-styles.css" %}</style>
<form method="post" action="/reset-password" class="pane">
    <h1 class="heading black">Reset Password</h1>
    <label for="email-field" class="sr-only">Email</label>
    <input type="email" placeholder="Email" id="email-field" class="field" required>
    <div class="link-field-container">
        <input type="submit" value="Send Reset Mail" class="bold">
        <a href="/login" class="light">Return to Login</a>
    </div>
</form>
{% endblock %}
